//======================  
// TESTING 
//======================

$background-color: purple;

body {
  padding: 100px;
  background-color: #FFF;
  font-family: Helvetica, Arial, sans-serif;
}

#container {
  display: flex;
  justify-content: center;
}

.todoListMain .header input {
  padding: 30px; 
  font-size: 1em;
  background-color: #f8f8f8;
  border: 2px solid #f8f8f8;
  width: 215px;
  color: #000;
  outline: none;
}

.todoListMain .header button {
  padding: 30px;
  font-size: 1em;
  margin-right: 0px;
  background-color: #000;
  color: #FFF;
  border: 2px solid #000;
  outline: none;
}

.todoListMain .header button:hover {
  background-color: #4b4b4b;
  border: 2px solid #4b4b4b;
  cursor: pointer;
  box-shadow: 4px 4px;
  outline: none;
}

.todoListMain .theList li{
  color: #000;
  background-color: #f8f8f8;
  padding: 15px; 
  margin-bottom: 10px;
  list-style: none;
  margin-inline-end: 5px;
  box-shadow: 7px 7px;
}

ul.theList {
  padding: 0;
  margin-top: 15px;
}